
COMMITT_GITHUB_API_URL=https://api.github.com

COMMITT_SOLANA_RPC_URL=https://api.devnet.solana.com
COMMITT_TIP_JAR_PROGRAM_ID=6NkMViXG4f2FGBMRdjEceN3fQM3fUvTbkbEo17oGRJ6y

COMMITT_BRIDGE_URL=http://localhost:8787
COMMITT_BRIDGE_SHARED_SECRET=9802a8ce6657c465eba04df4f5aa6439040b9e2afeb6384c208986b6dc259319

CLAWPUMP_API_KEY=cpk_XBPc7zNy
BRIDGE_SHARED_SECRET=9802a8ce6657c465eba04df4f5aa6439040b9e2afeb6384c208986b6dc259319
PORT=8787